header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__logo {
    max-width: 300px;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
  }
  
  .navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
  
  .navbar__link:hover {
    background-color: var(--primary-900);
  }
  
  .with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }
  
  iconify-icon {
    color: var(--light-bg-solid);
  }
  
  .with-submenu:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    width: 150px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
  }
  
  .submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background 0.3s ease-in-out;
  }
  
  .submenu__link:hover {
    background-color: var(--primary-900);
  }