.hero {
    background-image: url(../imgs/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  
  .hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(0.7);
  }
  
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
  }
  
  .hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
  }
  
  .hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
  }
  
  .hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
  }