<%- include ('/partials/header') %>
<main class="main-container">
    <section class="collection container">
        <picture class="collection__cover">
            <img src="../../public/imgs/harry-potter/hermione-1.webp" alt="Figura coleccionable funko de la serie Harry Potter" />
        </picture>
        <article class="collection__content">
            <h3 class="collection__title">Error</h3>
            <p class="collection__text">
                Los datos no corresponden a un usuario activo. Por favor, revise los datos ingresados o pongasé en ><a href="/contact">contacto</a> con el administrador. Gracias y disculpe las molestias.
            </p>
        </article>
    </section>
</main>
<%- include ('/partials/footer') %>