<%- include ('partials/header') %>
<main class="main-container">
    <section class="collection container">
        <picture class="collection__cover">
            <img src="/imgs/star-wars/baby-yoda-1.webp" alt="Figura coleccionable funko de la serie Mandalorian" />
        </picture>
        <article class="collection__content">
            <h3 class="collection__title">Error</h3>
            <p class="collection__text">
                Contenido no encontrado. Revisa tu link o ponte en contacto con nosotros para una consulta
                personalizada.
            </p>
        </article>
    </section>
</main>
<%- include ('partials/footer') %>