<footer class="footer"><!--Footer-->
    <nav class="navbar container">
      <ul class="navbar__item">
        <li class="navbar__item">
          <a class="navbar__link" href="/shop">Shop</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/admin/register.html">Registrase</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/admin/login.html">Ingresar</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/contact">Contacto</a>
        </li>
      </ul>
      <picture>
        <img src="/imgs/branding/isotype.svg" alt="Isotipo de la marca FunkoShop" />
      </picture>
    </nav>
    <p class="footer__copy">Todos los derechos reservados 2023 - FunkoShop</p>
  </footer><!--Fin Footer-->
</body>

</html>