<footer class="footer"><!--Footer-->
    <nav class="navbar container">
      <ul class="navbar__item">
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/shop/shop.html">Shop</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/admin/register.html">Registrase</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/admin/login.html">Ingresar</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./pages/contact.html">Contacto</a>
        </li>
      </ul>
      <picture>
        <img src="./imgs/branding/isotype.svg" alt="Isotipo de la marca FunkoShop" />
      </picture>
    </nav>
    <p class="footer__copy">Todos los derechos reservados 2023 - FunkoShop</p>
  </footer><!--Fin Footer-->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="./js/glide.js"></script>
</body>

</html>